Here I am working through the Iris Dataset in order to get a foundation of knowledge for future coding projects.

In [7]:
#all needed import packages
import pandas as pd
import numpy as np
import seaborn as sns #data visualization library
import matplotlib.pyplot as plt
%matplotlib inline
# read iris data csv
iris_data = pd.read_csv("IRIS.csv")

Now that we have imported all necessary libraries and our data, lets see what our data looks like.
For the next couple prompts we are going to demonstrate some general pandas commands in order to get a feel for the library.

In [8]:
#display full data table
print(iris_data)

     sepal_length  sepal_width  petal_length  petal_width         species
0             5.1          3.5           1.4          0.2     Iris-setosa
1             4.9          3.0           1.4          0.2     Iris-setosa
2             4.7          3.2           1.3          0.2     Iris-setosa
3             4.6          3.1           1.5          0.2     Iris-setosa
4             5.0          3.6           1.4          0.2     Iris-setosa
..            ...          ...           ...          ...             ...
145           6.7          3.0           5.2          2.3  Iris-virginica
146           6.3          2.5           5.0          1.9  Iris-virginica
147           6.5          3.0           5.2          2.0  Iris-virginica
148           6.2          3.4           5.4          2.3  Iris-virginica
149           5.9          3.0           5.1          1.8  Iris-virginica

[150 rows x 5 columns]

Now, lets use function head() in order to see our top 5 rows of data.
Note: head() default shows the top 5 rows without a provided argument

In [9]:
iris_data.head()

   sepal_length  sepal_width  petal_length  petal_width      species
0           5.1          3.5           1.4          0.2  Iris-setosa
1           4.9          3.0           1.4          0.2  Iris-setosa
2           4.7          3.2           1.3          0.2  Iris-setosa
3           4.6          3.1           1.5          0.2  Iris-setosa
4           5.0          3.6           1.4          0.2  Iris-setosa

Now, lets use the sample() function to display random rows of our data. For our example lets display 20 random rows of data.
Note: the number of rows displayed is based on our argument.

In [10]:
iris_data.sample(20)

     sepal_length  sepal_width  petal_length  petal_width          species
10            5.4          3.7           1.5          0.2      Iris-setosa
92            5.8          2.6           4.0          1.2  Iris-versicolor
52            6.9          3.1           4.9          1.5  Iris-versicolor
109           7.2          3.6           6.1          2.5   Iris-virginica
78            6.0          2.9           4.5          1.5  Iris-versicolor
99            5.7          2.8           4.1          1.3  Iris-versicolor
33            5.5          4.2           1.4          0.2      Iris-setosa
7             5.0          3.4           1.5          0.2      Iris-setosa
21            5.1          3.7           1.5          0.4      Iris-setosa
51            6.4          3.2           4.5          1.5  Iris-versicolor
122           7.7          2.8           6.7          2.0   Iris-virginica
148           6.2          3.4           5.4          2.3   Iris-virginica
27            5.2          3.5           1.5          0.2      Iris-setosa
146           6.3          2.5           5.0          1.9   Iris-virginica
94            5.6          2.7           4.2          1.3  Iris-versicolor
24            4.8          3.4           1.9          0.2      Iris-setosa
125           7.2          3.2           6.0          1.8   Iris-virginica
107           7.3          2.9           6.3          1.8   Iris-virginica
104           6.5          3.0           5.8          2.2   Iris-virginica
73            6.1          2.8           4.7          1.2  Iris-versicolor

Now lets display the number of columns and the names of each column.
Note: column() prints all the columns of our given data set in a list form.

In [15]:
iris_data.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

We are also going to display the shape of our data set.
Note: the shape of our data set means printing the total number of rows(entries) and the total number of columns(or features) of our dataset.

In [17]:
iris_data.shape

(150, 5)

Lets now demonstrate some row slicing.
Slicing is used when we want to print or work with a specific group of rows.
Syntax: data[start:end] start is inclusive where end is exclusive

In [18]:
#for this example lets start at row 5 and end at row 20
print(iris_data[5:21]) #note that since we wanna go to 20 we end at 21, since 21 will not be printed

#if we wanted to store our sliced portion of data, we can!
sliced = iris_data[10:21]

    sepal_length  sepal_width  petal_length  petal_width      species
5            5.4          3.9           1.7          0.4  Iris-setosa
6            4.6          3.4           1.4          0.3  Iris-setosa
7            5.0          3.4           1.5          0.2  Iris-setosa
8            4.4          2.9           1.4          0.2  Iris-setosa
9            4.9          3.1           1.5          0.1  Iris-setosa
10           5.4          3.7           1.5          0.2  Iris-setosa
11           4.8          3.4           1.6          0.2  Iris-setosa
12           4.8          3.0           1.4          0.1  Iris-setosa
13           4.3          3.0           1.1          0.1  Iris-setosa
14           5.8          4.0           1.2          0.2  Iris-setosa
15           5.7          4.4           1.5          0.4  Iris-setosa
16           5.4          3.9           1.3          0.4  Iris-setosa
17           5.1          3.5           1.4          0.3  Iris-setosa
18           5.7          3.8           1.7          0.3  Iris-setosa
19           5.1          3.8           1.5          0.3  Iris-setosa
20           5.4          3.4           1.7          0.2  Iris-setosa

Now lets demonstrate if we wanted to display certain comlumns only.
Of course in any data set we will sometimes need to only work upon specific columns(or features).
Syntax: data[["column1_name", "column2_name", "column3_name"]]

In [19]:
#in our example we are gonna store our columns in spec_petalwidth

spec_petalwidth = iris_data[["species","petal_width"]]
#for fun we are going to combine using sample()
print(spec_petalwidth.sample(15)) #sample of 15

             species  petal_width
97   Iris-versicolor          1.3
31       Iris-setosa          0.4
123   Iris-virginica          1.8
66   Iris-versicolor          1.5
104   Iris-virginica          2.2
37       Iris-setosa          0.1
106   Iris-virginica          1.7
18       Iris-setosa          0.3
135   Iris-virginica          2.3
115   Iris-virginica          2.3
4        Iris-setosa          0.2
147   Iris-virginica          2.0
56   Iris-versicolor          1.6
149   Iris-virginica          1.8
109   Iris-virginica          2.5

Now lets demonstrate some filtering.